.fade-enter-active, .fade-leave {
  transition: opacity .15s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.slide-left-in-enter-active, .slide-left-in-leave {
  transition: transform .3s, opacity .15s;
}

.slide-left-in-enter, .slide-left-in-leave-active {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right-in-enter-active, .slide-right-in-leave {
  transition: transform .3s, opacity .15s;
}

.slide-right-in-enter, .slide-right-in-leave-active {
  transform: translateX(100%);
  opacity: 0;
}
