@use './variables/types' as *;

@mixin apply-ff($fontStyle, $fontWeight, $fileName) {
  @font-face {
    font-family: 'Roboto';
    font-display: 'swap';
    font-style: #{$fontStyle};
    font-weight: #{$fontWeight};
    src: url(#{'~/assets/fonts/'+$fileName}) format('opentype');
  }
}

// Light
@include apply-ff($font-style-normal, $font-weight-light, 'Roboto-Light.ttf');
@include apply-ff(
  $font-style-italic,
  $font-weight-light,
  'Roboto-LightItalic.ttf'
);

// Regular
@include apply-ff(
  $font-style-normal,
  $font-weight-normal,
  'Roboto-Regular.ttf'
);
@include apply-ff($font-style-italic, $font-weight-normal, 'Roboto-Italic.ttf');

// Medium
@include apply-ff($font-style-normal, $font-weight-medium, 'Roboto-Medium.ttf');
@include apply-ff(
  $font-style-italic,
  $font-weight-medium,
  'Roboto-MediumItalic.ttf'
);

// Bold
@include apply-ff($font-style-normal, $font-weight-bold, 'Roboto-Bold.ttf');
@include apply-ff(
  $font-style-italic,
  $font-weight-bold,
  'Roboto-BoldItalic.ttf'
);
