<template>
  <v-dialog :value="dialog" width="500" max-width="90vw" @click:outside="closeDialog">
    <v-card>
      <v-card-title> Please enter the task name: </v-card-title>
      <v-card-text>
        <v-text-field class="mr-4" v-model="taskName" label="Task name"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="closeDialog">Close</v-btn>
        <v-btn text @click="createTask">Create</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    taskName: ''
  }),
  methods: {
    closeDialog() {
      this.$emit('update:dialog', false);
    },
    createTask() {
      this.$emit('create', this.taskName);
      this.closeDialog();
    }
  }
};
</script>
