<template>
  <v-dialog :value="dialog" :width="width" max-width="90vw" @click:outside="closeDialog">
    <v-card>
      <v-card-title>Confirm</v-card-title>
      <v-card-text>
        {{ message }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="cancel">No</v-btn>
        <v-btn text @click="confirm">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    width: {
      type: Number,
      default: 500
    },
    message: String
  },
  methods: {
    closeDialog() {
      this.$emit('update:dialog', false);
    },
    cancel() {
      this.$emit('confirmed', false);
      this.closeDialog();
    },
    confirm() {
      this.$emit('confirmed', true);
      this.closeDialog();
    }
  }
};
</script>
