<template>
  <v-expansion-panels :is="isEditing ? 'v-expansion-panels' : 'div'" multiple>
    <draggable v-model="taskList" class="row task-list" tag="ul" draggable=".draggable-task">
      <v-col
        tag="li"
        cols="12"
        sm="12"
        lg="6"
        v-for="task in taskList"
        :key="task.id"
        :class="{ 'draggable-task': isReordering }"
      >
        <Task :task="task" :isEditing="isEditing" :showAltAction="isReordering" @change="updateTask($event, task)">
          <template v-slot:standardAction>
            <v-icon v-if="isReordering">mdi-drag</v-icon>
          </template>
          <template v-slot:editAction>
            <v-btn icon @click="saveToDefault(task)">
              <v-icon :color="hasAsDefaultTask(task) ? 'green' : 'blue'"> mdi-content-save </v-icon>
            </v-btn>
          </template>
        </Task>
      </v-col>
    </draggable>
  </v-expansion-panels>
</template>

<style lang="scss" scoped>
.task-list {
  list-style: none;
  padding-left: 0;
}
</style>
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'TaskList',
  props: {
    tasks: Array
  },
  computed: {
    ...mapGetters({
      defaultTasks: 'defaultTasks/defaultTasks',
      isEditing: 'todoPage/isEditing',
      isReordering: 'todoPage/isReordering'
    }),
    taskList: {
      get() {
        return this.tasks;
      },
      set(value) {
        this.replaceAllTasks(value);
      }
    }
  },
  methods: {
    ...mapActions({
      addDefaultTask: 'defaultTasks/addTask',
      updateDefaultTask: 'defaultTasks/updateTask',
      removeDailyTask: 'dailyTasks/removeTask',
      replaceAllTasks: 'dailyTasks/replaceAllTasks'
    }),
    hasAsDefaultTask(task) {
      return this.defaultTasks.some(t => t.id === task.id);
    },
    updateTask(event, task) {
      if (event) {
        this.$emit('change', event);
      } else {
        this.removeDailyTask(task);
      }
    },
    saveToDefault(task) {
      if (this.hasAsDefaultTask(task)) {
        this.updateDefaultTask(task);
      } else {
        this.addDefaultTask(task);
      }
    }
  }
};
</script>
