<template>
  <v-dialog :value="dialog" :width="width" max-width="90vw" @click:outside="closeDialog">
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>
        <div>{{ message }}</div>
        <v-file-input
          class="mr-4"
          v-model="selectedFile"
          :label="placeHolder"
          prepend-icon="mdi-file-cog"
          show-size
          :rules="fileMetaValidationFns"
          :error-messages="errors"
        ></v-file-input>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="cancel">{{ noBtnText }}</v-btn>
        <v-btn text @click="confirm">{{ yesBtnText }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { isFunction } from 'lodash';
import { isArray } from 'lodash';
import { readAsText } from '../utility/file';

export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    yesBtnText: {
      type: String,
      default: 'Yes'
    },
    noBtnText: {
      type: String,
      default: 'No'
    },
    width: {
      type: Number,
      default: 500
    },
    placeHolder: {
      type: String,
      default: 'Text'
    },
    title: {
      type: String,
      default: 'Please enter text'
    },
    message: {
      type: String,
      default: ''
    },
    fileMetaValidationFns: {
      type: Array,
      default: () => []
    },
    fileContentValidationFn: {
      type: Function,
      default: () => []
    }
  },
  data: () => ({
    selectedFile: null,
    errors: []
  }),
  watch: {
    selectedFile() {
      if (!this.selectedFile) {
        this.clearErrors();
        return;
      }
      const validateFn = this.fileContentValidationFn;
      if (validateFn && isFunction(validateFn)) {
        readAsText(this.selectedFile).then(fileContent => {
          const validateResult = validateFn(fileContent);
          if (isArray(validateResult)) {
            this.errors = validateResult;
          } else {
            this.clearErrors();
          }
        });
      }
    }
  },
  methods: {
    clearErrors() {
      this.errors = [];
    },
    closeDialog() {
      this.$emit('update:dialog', false);
      this.selectedFile = null;
    },
    cancel() {
      this.$emit('confirmed', null);
      this.closeDialog();
    },
    confirm() {
      this.$emit('confirmed', this.selectedFile);
      this.closeDialog();
    }
  }
};
</script>
