<template>
  <div class="filter-container">
    <v-slide-group
      center-active
      show-arrows="always"
      mandatory
      :value="filter"
      @change="$emit('update:filter', $event)"
    >
      <v-slide-item
        v-for="filterItem in filterItems"
        :key="filterItem.name"
        :value="filterItem.name"
        v-slot="{ active, toggle }"
      >
        <v-btn
          class="mr-2"
          rounded
          small
          :input-value="active"
          :disabled="disabled"
          active-class="green dark-2 white--text"
          @click="toggle"
        >
          {{ filterItem.name }}
        </v-btn>
      </v-slide-item>
    </v-slide-group>
  </div>
</template>
<style lang="scss">
.filter-container {
  $filter-height: 42px;
  margin-bottom: $filter-height;
  content: '';

  > * {
    position: fixed;
    height: $filter-height;
    top: 72px;
    left: 0;
    right: 0;
    background-color: wheat;
    z-index: 2;
  }

  .v-slide-group__content {
    align-items: center;
  }
}
</style>
<script>
export default {
  props: {
    filterItems: Array,
    filter: String,
    disabled: Boolean
  }
};
</script>
