<template>
  <div class="floating-button-group">
    <template v-for="(button, index) in parsedButtons">
      <FloatingButtonGroupItem :button="button" :index="index" :key="`fab-${index}`"></FloatingButtonGroupItem>
    </template>
  </div>
</template>
<style scoped>
.floating-button-group {
  position: fixed;
  right: 16px;
  bottom: 64px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
</style>
<script>
export default {
  props: {
    buttons: Array
  },
  computed: {
    parsedButtons() {
      return this.buttons || [];
    }
  }
};
</script>
