<template>
  <v-snackbar v-model="snackbar" :color="type">
    {{ message }}
    <template v-slot:action="{ attrs }">
      <v-btn text v-bind="attrs" @click="closeSnackbar"> Close </v-btn>
    </template>
  </v-snackbar>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data: () => ({
    message: '',
    snackbar: false,
    type: ''
  }),
  watch: {
    messageCount(newCount, oldCount) {
      if (newCount > oldCount && newCount > 0) {
        this.message = this.activeMessage.message;
        this.type = this.activeMessage.type;
        this.snackbar = true;
      } else if (newCount <= oldCount && newCount === 0) {
        this.snackbar = false;
        this.message = '';
        this.type = '';
      }
    }
  },
  computed: {
    ...mapGetters({
      messageCount: 'notification/messageCount',
      activeMessage: 'notification/activeMessage'
    })
  },
  methods: {
    ...mapActions({
      closeEarly: 'notification/closeEarly'
    }),
    closeSnackbar() {
      this.snackbar = false;
      this.closeEarly();
    }
  }
};
</script>
