<template>
  <v-dialog :value="dialog" :width="width" max-width="90vw" @click:outside="closeDialog">
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>
        <div>{{ message }}</div>
        <v-text-field class="mr-4" v-model="stringValue" :label="placeHolder" :suffix="suffix"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="cancel">{{ noBtnText }}</v-btn>
        <v-btn text @click="confirm">{{ yesBtnText }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    yesBtnText: {
      type: String,
      default: 'Yes'
    },
    noBtnText: {
      type: String,
      default: 'No'
    },
    width: {
      type: Number,
      default: 500
    },
    placeHolder: {
      type: String,
      default: 'Text'
    },
    title: {
      type: String,
      default: 'Please enter text'
    },
    message: {
      type: String,
      default: ''
    },
    defaultString: {
      type: String,
      default: ''
    },
    suffix: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    stringValue: ''
  }),
  watch: {
    defaultString() {
      this.updateDefaultString();
    }
  },
  methods: {
    closeDialog() {
      this.$emit('update:dialog', false);
      this.updateDefaultString();
    },
    cancel() {
      this.$emit('confirmed', null);
      this.closeDialog();
    },
    confirm() {
      this.$emit('confirmed', this.stringValue);
      this.closeDialog();
    },
    updateDefaultString() {
      if (this.defaultString) {
        this.stringValue = this.defaultString;
      } else {
        this.stringValue = '';
      }
    }
  },
  mounted() {
    this.updateDefaultString();
  }
};
</script>
