<template>
  <v-card class="px-4 py-2" v-if="!isEditing">
    <v-row align="center">
      <v-col cols="8">
        <div class="d-flex align-center">
          <v-tooltip bottom :disabled="$vuetify.breakpoint.smAndUp">
            <template v-slot:activator="{ on, attrs }">
              <div
                class="mr-4 task-name"
                v-bind="attrs"
                v-on="on"
                :data-deadline="taskDeadLineText"
                :class="taskDeadLineClass"
              >
                {{ task.name }}
              </div>
            </template>
            <span>{{ task.name }}</span>
          </v-tooltip>
        </div>
      </v-col>
      <v-col cols="4">
        <template v-if="showAltAction">
          <div class="standard-action-container">
            <slot name="standardAction"></slot>
          </div>
        </template>
        <div class="standard-action-container" v-else>
          <v-checkbox on-icon="mdi-check-circle" v-model="taskDone"></v-checkbox>
          <v-checkbox
            class="ml-1"
            on-icon="mdi-briefcase-clock"
            off-icon="mdi-briefcase-clock-outline"
            v-model="taskCarriedOver"
          ></v-checkbox>
          <v-checkbox class="ml-1" on-icon="mdi-bookmark" off-icon="mdi-bookmark-outline" v-model="taskPinned">
          </v-checkbox>
        </div>
      </v-col>
    </v-row>
    <div v-if="task.comment">
      <div class="text-caption">Comment:</div>
      <div class="text-body-2">
        <p class="my-0" v-for="(line, index) in parsedComment" :key="`${line}-${index}`">
          {{ line }}
        </p>
      </div>
    </div>
  </v-card>

  <v-expansion-panel @change="modeChanged" v-else>
    <v-expansion-panel-header
      :expand-icon="accordingClosed ? 'mdi-pencil' : 'mdi-check'"
      disable-icon-rotate
      class="task-panel-header"
    >
      <template v-slot:default="{ open }">
        {{ clone.name }}
        <v-fade-transition v-if="open"> </v-fade-transition>
      </template>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <div class="d-flex">
        <div class="flex-grow-1">
          <v-row>
            <v-col cols="12" sm="8">
              <v-text-field class="mr-4" v-model="clone.name" label="Task name"></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <TimePicker :model.sync="clone.deadline" placeholder="Deadline"></TimePicker>
            </v-col>
            <v-col cols="12" sm="8">
              <v-textarea v-if="isEditing" v-model="clone.comment" label="Comment" auto-grow rows="3"> </v-textarea>
            </v-col>
          </v-row>
        </div>
        <div class="d-flex flex-column flex-grow-0 edit-actions">
          <slot name="editAction"></slot>
          <v-btn icon @click="deleteTask">
            <v-icon color="red"> mdi-delete </v-icon>
          </v-btn>
        </div>
      </div>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<style lang="scss" scoped>
.edit-actions {
  transform: translateX(14px);
}
.standard-action-container {
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.task-panel-header {
  font-size: 16px;
  min-height: 82px;
  padding-left: 16px;
  padding-right: 16px;
}
.task-name {
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  line-height: 2.7;

  &::after {
    content: attr(data-deadline);
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 1;
    transform: scale(0.9, 0.86);
    transform-origin: left;
  }

  &.close-deadline-2h::after {
    color: #1b5e20;
    font-weight: bold;
  }
  &.close-deadline-1h::after {
    color: #01579b;
    font-weight: bold;
  }
  &.close-deadline-30m::after {
    color: #b71c1c;
    font-weight: bold;
  }
  &.past-deadline::after {
    color: #757575;
  }
}
.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 0;
}
</style>
<script>
import { cloneDeep } from 'lodash';
import { getTimeDifferenceToNowInMinutes, getTimeDifferenceInText } from '../utility/time';

export default {
  name: 'Task',
  props: {
    task: Object,
    isEditing: Boolean,
    showAltAction: Boolean
  },
  data: () => ({
    clone: {},
    accordingClosed: true
  }),
  watch: {
    isEditing() {
      this.accordingClosed = true;
    }
  },
  computed: {
    parsedComment() {
      return (this.task.comment || '').split(/\r\n|\r|\n/);
    },
    taskDone: {
      get() {
        return this.task.isDone;
      },
      set(value) {
        const task = {
          ...this.task,
          isDone: value
        };
        this.emitChange(task);
      }
    },
    taskCarriedOver: {
      get() {
        return this.task.isCarriedOver;
      },
      set(value) {
        const task = {
          ...this.task,
          isCarriedOver: value
        };
        this.emitChange(task);
      }
    },
    taskPinned: {
      get() {
        return this.task.isPinned;
      },
      set(value) {
        const task = {
          ...this.task,
          isPinned: value
        };
        this.emitChange(task);
      }
    },
    taskDeadLineText() {
      const deadline = this.task.deadline;
      if (!deadline) {
        return '';
      }
      return `${deadline} - ${getTimeDifferenceInText(deadline)}`;
    },
    taskDeadLineClass() {
      const differenceInMinutes = getTimeDifferenceToNowInMinutes(this.task.deadline);
      if (!differenceInMinutes) {
        return null;
      }
      const differentInHours = Math.abs(differenceInMinutes) / 60;
      return {
        'close-deadline-2h': differenceInMinutes > 0 && differentInHours > 1 && differentInHours <= 2,
        'close-deadline-1h': differenceInMinutes > 0 && differentInHours > 0.5 && differentInHours <= 1,
        'close-deadline-30m': differenceInMinutes > 0 && differentInHours <= 0.5,
        'past-deadline': differenceInMinutes <= 0
      };
    }
  },
  methods: {
    taskChange() {
      this.emitChange(this.clone);
    },
    deleteTask() {
      this.emitChange(null);
    },
    emitChange(result) {
      this.$emit('change', result);
    },
    modeChanged() {
      this.accordingClosed = !this.accordingClosed;
      if (this.accordingClosed) {
        this.taskChange();
      } else {
        this.updateClone();
      }
    },
    updateClone() {
      this.clone = cloneDeep(this.task);
    }
  },
  mounted() {
    this.updateClone();
  },
  beforeDestroy() {
    if (!this.accordingClosed) {
      this.taskChange();
    }
  }
};
</script>
