<template>
  <v-dialog ref="dialog" v-model="modal" :return-value.sync="time" persistent width="290px">
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="time"
        :label="placeholder"
        append-icon="mdi-clock-time-four-outline"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-time-picker v-if="modal" v-model="time" format="24hr" full-width>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="modal = false"> Cancel </v-btn>
      <v-btn text color="primary" @click="saveTime()"> OK </v-btn>
    </v-time-picker>
  </v-dialog>
</template>
<script>
export default {
  props: {
    model: String,
    placeholder: {
      type: String,
      default: 'Timepicker'
    }
  },
  data: () => ({
    time: '',
    modal: false
  }),
  methods: {
    saveTime() {
      this.$refs.dialog.save(this.time);
      this.$emit('update:model', this.time);
    }
  },
  mounted() {
    this.time = this.model || '';
  }
};
</script>