<template>
  <div class="d-flex align-center justify-end mt-2" :key="`fab-${index}`">
    <transition tag="div" name="child-buttons">
      <div v-show="showChild">
        <v-btn
          fab
          v-for="(childBtn, cIndex) in childButtons"
          :key="`c-fab-${index}-${cIndex}`"
          :class="{
            [childBtn.activeClass]: isChildActive(childBtn),
            'mr-2': !isMinimized || cIndex !== childButtons.length - 1
          }"
          @click="childBtnClick(childBtn)"
        >
          <v-icon v-if="childBtn.icon"> {{ childBtn.icon }} </v-icon>
        </v-btn>
      </div>
    </transition>
    <v-btn v-show="!isMinimized" fab @click="hasChild() ? toggleButtonChildren() : button.click()">
      <v-icon v-if="button.icon"> {{ button.icon }} </v-icon>
    </v-btn>
  </div>
</template>
<style lang="scss" scoped>
.child-buttons {
  &-enter,
  &-leave-to {
    transform: translateX(56px);
    opacity: 0;
  }
  &-leave,
  &-enter-to {
    transform: translateX(0);
    opacity: 1;
  }
  &-enter-active,
  &-leave-active {
    transition: transform 0.3s ease-in-out, opacity 0.15s linear;
  }
}
</style>
<script>
import { isFunction } from 'lodash';

export default {
  props: {
    button: Object,
    index: Number
  },
  data: () => ({
    showChild: false,
    isMinimized: false,
    autoCloseTimeout: null
  }),
  computed: {
    childButtons() {
      if (!this.hasChild()) {
        return [];
      }
      if (this.isMinimized) {
        return this.button.children.filter(c => this.isChildActive(c));
      }
      return this.button.children;
    }
  },
  methods: {
    toggleButtonChildren() {
      if (this.isMinimized) {
        this.isMinimized = false;
        this.showChild = true;
        return;
      }
      this.showChild = !this.showChild;
      if (this.showChild) {
        this.refreshTimeout();
      } else {
        this.clearTimeout();
      }
    },
    childBtnClick(childBtn) {
      childBtn.click();
      this.isMinimized = false;
      this.showChild = true;
      this.refreshTimeout();
    },
    refreshTimeout() {
      this.clearTimeout();
      this.autoCloseTimeout = window.setTimeout(() => {
        if (this.hasActiveChild()) {
          this.isMinimized = true;
        } else {
          this.showChild = false;
        }
        this.clearTimeout();
      }, 3000);
    },
    clearTimeout() {
      if (this.autoCloseTimeout) {
        window.clearTimeout(this.autoCloseTimeout);
        this.autoCloseTimeout = null;
      }
    },
    hasChild() {
      return this.button.children && this.button.children.length;
    },
    hasActiveChild() {
      if (!this.hasChild()) {
        return false;
      }
      return this.button.children.some(c => this.isChildActive(c));
    },
    isChildActive(button) {
      return isFunction(button.isActive) ? button.isActive() : false;
    }
  }
};
</script>
