<template>
  <v-app id="inspire">
    <v-app-bar app flat height="72">
      <transition name="slide-left-in" mode="out-in">
        <h2 :key="pageName">{{ pageName }}</h2>
      </transition>
      <v-spacer></v-spacer>

      <v-responsive max-width="min(50vw, 230px)">
        <v-text-field dense flat hide-details rounded solo-inverted clearable v-model="searchKeyword"></v-text-field>
      </v-responsive>
    </v-app-bar>

    <v-main>
      <Nuxt />
    </v-main>

    <Notification></Notification>

    <v-bottom-navigation shift fixed>
      <v-btn class="bottom-nav-btn" nuxt to="/">
        <span>Today</span>

        <v-icon> mdi-calendar-check </v-icon>
      </v-btn>
      <v-btn class="bottom-nav-btn" nuxt to="/default">
        <span>Template</span>

        <v-icon> mdi-tune </v-icon>
      </v-btn>
      <v-btn class="bottom-nav-btn" nuxt to="/setting">
        <span>Setting</span>

        <v-icon> mdi-cog </v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>
<style scoped>
.v-item-group.v-bottom-navigation .v-btn.bottom-nav-btn {
  height: inherit;
  padding: 0 16px;
  min-width: 80px;
}
</style>
<script>
import { mapActions, mapGetters } from 'vuex';
import { debounce } from 'lodash';

const PAGES = {
  index: 'Tasks to do today',
  default: 'Everyday task template',
  setting: 'Setting'
};
export default {
  data: () => ({
    searchKeyword: ''
  }),
  computed: {
    ...mapGetters({
      storedSearchKeyword: 'search/searchKeyword'
    }),
    pageName() {
      const routeName = this.$route.name;
      const pageName = PAGES[routeName];
      return pageName || routeName;
    }
  },
  watch: {
    searchKeyword() {
      this.triggerSearchFilter();
    },
    storedSearchKeyword() {
      if (this.storedSearchKeyword === '' && this.searchKeyword !== '') {
        this.searchKeyword = '';
      }
    }
  },
  methods: {
    ...mapActions({
      loadDailyTasks: 'dailyTasks/load',
      loadDefaultTasks: 'defaultTasks/load',
      updateSearch: 'search/updateSearch'
    }),
    triggerSearchFilter: debounce(function () {
      this.updateSearch(this.searchKeyword);
    }, 300)
  },
  mounted() {
    this.loadDefaultTasks();
    this.loadDailyTasks();
  }
};
</script>
