<template>
  <div>
    <FilterGroup :filterItems="filterItems" :filter.sync="filterType" :disabled="filterDisabled"></FilterGroup>
    <CommonContainer>
      <DefaultTaskList :tasks="filteredDefaultTask" @change="updateTask"></DefaultTaskList>
      <AddTaskDialog :dialog.sync="addTaskDialog" @create="addTaskByName"></AddTaskDialog>
      <FloatingButtonGroup :buttons="floatingButtons" v-show="!isSearching"></FloatingButtonGroup>
    </CommonContainer>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import FILTER_STATES from '../constants/filters';

export default {
  transition: {
    name: 'fade',
    mode: 'out-in'
  },
  data: () => ({
    addTaskDialog: false,
    filterType: FILTER_STATES.ALL
  }),
  computed: {
    ...mapGetters({
      defaultTasks: 'defaultTasks/defaultTasks',
      isEditing: 'defaultPage/isEditing',
      isReordering: 'defaultPage/isReordering',
      searchKeyword: 'search/searchKeyword',
      isSearching: 'search/isSearching'
    }),
    filteredDefaultTask() {
      const tasks = this.defaultTasks;

      const filterPredicate = extra => {
        return task => {
          const searchTarget = (task.name || '') + ' ' + (task.comment || '');
          return searchTarget.includes(this.searchKeyword) && (extra ? extra(task) : true);
        };
      };

      const getAll = () => (this.isSearching ? tasks.filter(filterPredicate()) : tasks);

      switch (this.filterType) {
        case FILTER_STATES.ALL: {
          return getAll();
        }
        case FILTER_STATES.PINNED_ONLY: {
          return tasks.filter(filterPredicate(task => task.isPinned));
        }
        default: {
          return getAll();
        }
      }
    },
    filterDisabled() {
      return this.isReordering;
    },
    filterItems() {
      return [
        {
          name: FILTER_STATES.ALL
        },
        {
          name: FILTER_STATES.BY_DEADLINE
        },
        {
          name: FILTER_STATES.PINNED_ONLY
        }
      ];
    },
    floatingButtons() {
      return [
        {
          icon: 'mdi-plus',
          click: () => (this.addTaskDialog = true)
        },
        {
          icon: 'mdi-adjust',
          children: [
            {
              icon: 'mdi-drag',
              click: () => {
                if (this.filterType !== FILTER_STATES.ALL) {
                  this.filterType = FILTER_STATES.ALL;
                }
                this.toggleReorder();
              },
              isActive: () => this.isReordering,
              activeClass: 'green darken-2 white--text'
            },
            {
              icon: this.isEditing ? 'mdi-check' : 'mdi-pencil',
              click: () => this.toggleEdit(),
              isActive: () => this.isEditing,
              activeClass: 'light-blue darken-2 white--text'
            }
          ]
        }
      ];
    }
  },
  watch: {
    isSearching() {
      if (this.isReordering && this.isSearching) {
        this.toggleReorder();
      }
    }
  },
  methods: {
    ...mapActions({
      addTaskByName: 'defaultTasks/addTaskByName',
      updateTask: 'defaultTasks/updateTask',
      toggleEdit: 'defaultPage/toggleEdit',
      toggleReorder: 'defaultPage/toggleReorder',
      toNormal: 'defaultPage/toNormal',
      clearSearch: 'search/clearSearch'
    })
  },
  beforeDestroy() {
    this.toNormal();
    this.clearSearch();
  }
};
</script>
