<template>
  <div>
    <FilterGroup :filterItems="filterItems" :filter.sync="filterType" :disabled="filterDisabled"></FilterGroup>
    <CommonContainer>
      <DailyTaskList :tasks="filteredDailyTask" @change="updateTask"></DailyTaskList>
      <AddTaskDialog :dialog.sync="addTaskDialog" @create="addTaskByName"></AddTaskDialog>
      <FloatingButtonGroup :buttons="floatingButtons" v-show="!isSearching"></FloatingButtonGroup>
      <ConfirmationDialog
        :dialog.sync="resetTaskDialog"
        :message="resetTaskConfirmMessage"
        :width="320"
        @confirmed="onResetConfirmed"
      ></ConfirmationDialog>
    </CommonContainer>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import FILTER_STATES from '../constants/filters';

export default {
  transition: {
    name: 'fade',
    mode: 'out-in'
  },
  data: () => ({
    addTaskDialog: false,
    resetTaskDialog: false,
    filterType: FILTER_STATES.ALL,
    resetTaskConfirmMessage: 'Are you sure that you want to reset tasks?'
  }),
  computed: {
    ...mapGetters({
      dailyTasks: 'dailyTasks/dailyTasks',
      isEditing: 'todoPage/isEditing',
      isReordering: 'todoPage/isReordering',
      searchKeyword: 'search/searchKeyword',
      isSearching: 'search/isSearching'
    }),
    filteredDailyTask() {
      const tasks = this.dailyTasks;

      const filterPredicate = extra => {
        return task => {
          const searchTarget = (task.name || '') + ' ' + (task.comment || '');
          return searchTarget.includes(this.searchKeyword) && (extra ? extra(task) : true);
        };
      };

      const getAll = () => (this.isSearching ? tasks.filter(filterPredicate()) : tasks);

      switch (this.filterType) {
        case FILTER_STATES.ALL: {
          return getAll();
        }
        case FILTER_STATES.DONE: {
          return tasks.filter(filterPredicate(task => task.isDone));
        }
        case FILTER_STATES.NOT_DONE: {
          return tasks.filter(filterPredicate(task => !task.isDone));
        }
        case FILTER_STATES.BY_DEADLINE: {
          return tasks
            .filter(filterPredicate(task => task.deadline))
            .sort((a, b) => (a.deadline <= b.deadline ? -1 : 1));
        }
        case FILTER_STATES.PINNED_ONLY: {
          return tasks.filter(filterPredicate(task => task.isPinned));
        }
        default: {
          return getAll();
        }
      }
    },
    filterDisabled() {
      return this.isReordering;
    },
    filterItems() {
      return [
        {
          name: FILTER_STATES.ALL
        },
        {
          name: FILTER_STATES.DONE
        },
        {
          name: FILTER_STATES.NOT_DONE
        },
        {
          name: FILTER_STATES.BY_DEADLINE
        },
        {
          name: FILTER_STATES.PINNED_ONLY
        }
      ];
    },
    floatingButtons() {
      return [
        {
          icon: 'mdi-plus',
          click: () => (this.addTaskDialog = true)
        },
        {
          icon: 'mdi-adjust',
          children: [
            {
              icon: 'mdi-restart',
              click: () => {
                this.resetTaskDialog = true;
              }
            },
            {
              icon: 'mdi-drag',
              click: () => {
                if (this.filterType !== FILTER_STATES.ALL) {
                  this.filterType = FILTER_STATES.ALL;
                }
                this.toggleReorder();
              },
              isActive: () => this.isReordering,
              activeClass: 'green darken-2 white--text'
            },
            {
              icon: this.isEditing ? 'mdi-check' : 'mdi-pencil',
              click: () => this.toggleEdit(),
              isActive: () => this.isEditing,
              activeClass: 'light-blue darken-2 white--text'
            }
          ]
        }
      ];
    }
  },
  watch: {
    isSearching() {
      if (this.isReordering && this.isSearching) {
        this.toggleReorder();
      }
    }
  },
  methods: {
    ...mapActions({
      addTaskByName: 'dailyTasks/addTaskByName',
      updateTask: 'dailyTasks/updateTask',
      reset: 'dailyTasks/reset',
      toggleEdit: 'todoPage/toggleEdit',
      toggleReorder: 'todoPage/toggleReorder',
      toNormal: 'todoPage/toNormal',
      clearSearch: 'search/clearSearch'
    }),
    onResetConfirmed(isConfirmed) {
      if (isConfirmed) {
        this.reset();
        this.toNormal();
      }
    }
  },
  beforeDestroy() {
    this.toNormal();
    this.clearSearch();
  }
};
</script>
