<template>
  <CommonContainer>
    <v-row>
      <v-col cols="12" lg="6">
        <v-card class="setting-card">
          <v-card-title>Export to file</v-card-title>
          <v-card-text>
            Clicking the buttons below will allow you to export the current data to a json file that can be used to
            import in another device.
          </v-card-text>
          <v-card-actions class="setting-card-action">
            <v-spacer></v-spacer>
            <v-btn @click="promptExportToday">Today's data</v-btn>
            <v-btn @click="promptExportTemplate">Template's data</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" lg="6">
        <v-card class="setting-card">
          <v-card-title>Import from file</v-card-title>
          <v-card-text>
            Clicking the buttons below to import data from a json file to the specified context (either to today's data
            or to template's data)
          </v-card-text>
          <v-card-actions class="setting-card-action">
            <v-spacer></v-spacer>
            <v-btn @click="promptImportToday">Today's data</v-btn>
            <v-btn @click="promptImportTemplate">Template's data</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <StringPromptDialog
      :dialog.sync="stringPromptDialog"
      @confirmed="onConfirmedExport"
      :defaultString="this.exportMode"
      yesBtnText="Download"
      noBtnText="Cancel"
      title="Export"
      message="Please enter the data file name:"
      placeHolder="File name"
      suffix=".json"
    ></StringPromptDialog>

    <FileImportDialog
      :dialog.sync="fileImportDialog"
      :width="400"
      @confirmed="onConfirmedImport"
      yesBtnText="Confirm import"
      noBtnText="Cancel"
      title="Import"
      message="Please select a file to import:"
      placeHolder="File"
      :fileMetaValidationFns="fileMetaValidationFns"
      :fileContentValidationFn="fileContentValidationFn"
    ></FileImportDialog>
  </CommonContainer>
</template>
<style scoped>
.setting-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.setting-card-action {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
</style>
<script>
import { mapActions } from 'vuex';
import { hasRequiredProperty } from '../utility/task';
import { readAsText } from '../utility/file';
import { isArray } from 'lodash';

const EXPORT_MODE = {
  TODAY: 'today',
  TEMPLATE: 'template'
};
const IMPORT_MODE = {
  TODAY: 'today',
  TEMPLATE: 'template'
};

const ONE_MEGABYTE = 1024 * 1024;
const MAXIMUM_FILE_SIZE = ONE_MEGABYTE;
const bytesToMegabytes = bytes => bytes / ONE_MEGABYTE;

const fileMetaValidationFns = [
  file => {
    if (file && file.size > MAXIMUM_FILE_SIZE) {
      return `Input file size cannot exceed ${bytesToMegabytes(MAXIMUM_FILE_SIZE)} MB`;
    }
    return true;
  }
];
const fileContentValidationFn = fileContent => {
  let taskArray = [];
  try {
    taskArray = JSON.parse(fileContent);
  } catch (_error) {
    return ['The file content must be of JSON format'];
  }
  let validTask = true;
  if (isArray(taskArray) && taskArray.length) {
    validTask = !taskArray.some(task => !hasRequiredProperty(task));
  } else {
    validTask = false;
  }
  if (!validTask) {
    return ['The JSON data in the file is invalid'];
  }
};

export default {
  data: () => ({
    stringPromptDialog: false,
    fileImportDialog: false,
    exportMode: EXPORT_MODE.TODAY,
    importMode: IMPORT_MODE.TODAY,
    fileMetaValidationFns,
    fileContentValidationFn
  }),
  methods: {
    ...mapActions({
      exportToday: 'dailyTasks/downloadAsJson',
      exportTemplate: 'defaultTasks/downloadAsJson',
      importToday: 'dailyTasks/importFromJson',
      importTemplate: 'defaultTasks/importFromJson',
      notifySuccess: 'notification/success'
    }),
    promptExportToday() {
      this.exportMode = EXPORT_MODE.TODAY;
      this.stringPromptDialog = true;
    },
    promptExportTemplate() {
      this.exportMode = EXPORT_MODE.TEMPLATE;
      this.stringPromptDialog = true;
    },
    promptImportToday() {
      this.importMode = IMPORT_MODE.TODAY;
      this.fileImportDialog = true;
    },
    promptImportTemplate() {
      this.importMode = IMPORT_MODE.TEMPLATE;
      this.fileImportDialog = true;
    },
    onConfirmedExport(fileName) {
      if (fileName === null) {
        return;
      }
      let name = `${fileName || this.exportMode}.json`;
      if (this.exportMode === EXPORT_MODE.TODAY) {
        this.exportToday(name);
      } else {
        this.exportTemplate(name);
      }
    },
    onConfirmedImport(file) {
      if (!file) {
        return;
      }
      readAsText(file).then(fileContent => {
        if (this.importMode === IMPORT_MODE.TODAY) {
          this.importToday(fileContent);
        } else {
          this.importTemplate(fileContent);
        }
        this.notifySuccess('Import succeeded!');
      });
    }
  }
};
</script>